# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/

# Secrets
.env
.env.local

# TypeScript
next-env.d.ts

# Next.js
.next/

# Vercel (incl. env)
.vercel/

# Prisma
src/generated/prisma/

# Storybook
storybook-static/

# Other
.DS_Store
