@import 'tailwindcss';

@theme {
  --color-neutral-5: oklch(0.1 0.01 70);
  --color-neutral-4: oklch(0.3 0.01 70);
  --color-neutral-3: oklch(0.5 0.01 70);
  --color-neutral-2: oklch(0.7 0.01 70);
  --color-neutral-1: oklch(0.9 0.01 70);

  --color-primary-5: oklch(0.1 0.01 70);
  --color-primary-4: oklch(0.3 0.05 70);
  --color-primary-3: oklch(0.5 0.1 70);
  --color-primary-2: oklch(0.7 0.2 70);
  --color-primary-1: oklch(0.9 0.1 70);
}
